<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container row">
        <div class="sidenav">
            <div class="top-logo">
                <img src="images/Logo.png" alt="Top Logo">
            </div>
            <nav class="main-nav">
                <a href="#" class="nav-btn">
                    <i class="fas fa-dove"></i> Đăng tin tuyển dụng</a>
                <a href="#">Quản lý tuyển dụng</a>
                <a href="#">Hồ sơ ứng tuyển</a>
                <a href="#">Quản lý tài khoản</a>
            </nav>
            <footer class="side-footer">
                <a href="#">Đăng xuất</a>
            </footer>
        </div>
        <div class="main-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus amet corrupti nisi nulla eius perspiciatis eum!
            Maiores sapiente sit, aut cum veniam mollitia consequatur ad corrupti cupiditate fuga minus amet.
        </div>
    </div>
</body>

</html>
