<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description"
      content="About the GOOD JOBS">
<meta name="author"
      content="GOOD JOBS - Team">
<meta http-equiv="X-UA-Compatible"
      content="ie=edge">
<title>GOOD JOBS _ Your Job - Our Mission</title>
<!-- Add Favicon -->
<link rel="shortcut icon"
      type="images/png"
      href="../images/icon-logo.png" />
<!-- CSS Style -->
<link rel="stylesheet"
      href="../css/all.css">
<link rel="stylesheet"
      href="../fonts/fontawesome/css/fontawesome.css">
<link rel="stylesheet"
      href="../fonts/fontawesome/css/solid.css">
