<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goodjobs</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://kit.fontawesome.com/9d1259de98.js"></script>
</head>

<body>

    <header>
        <div class="header-content">
            <div class="logo">
                <a href="/"><img src="images/lo.png" alt=""></a>
            </div>
            <div class="header-menu">
                <ul class="top-menu">
                    <li><a href="">Việc Làm</a></li>
                    <li><a href="">Công ty</a></li>
                    <li><a href="">Diễn đàn</a></li>
                </ul>
            </div>
            <div class="category-btn">
                <a href="/viec-tim-nguoi"><button class="btn btn-secondary btn-small">Việc tìm người</button></a>
            </div>
            <div class="login">
                <span class="login-icon">
                    <i class="fas fa-user-circle"></i>
                </span>
                <span class="login-link">
                    <a href="/login">Đăng nhập / Đăng ký</a>
                </span>
            </div>
    </header>
