<header>
    <div class="header-content">
        <div class="logo">
            <a href="/"><img src="images/lo.png" alt=""></a>
        </div>
        <div class="header-menu">
            <ul class="top-menu">
                <li><a href="">Việc Làm</a></li>
                <li><a href="">Công ty</a></li>
                <li><a href="">Diễn đàn</a></li>
            </ul>
        </div>
        <div class="category-btn">
            <a href="/viec-tim-nguoi"><button class="btn btn-secondary btn-small">Việc tìm người</button></a>
        </div>
        <div class="login">
            <span class="login-icon">
                <i class="fas fa-user-circle"></i>
            </span>
            <span class="login-link">
                <a href="/users/login">Đăng nhập / Đăng ký</a>
            </span>
        </div>
</header>
