<header>
    <div class="header-content">
        <div class="logo">
            <a href="/"><img src="images/lo.png" alt=""></a>
        </div>
        <div class="header-menu">
            <ul class="top-menu">
                <li><a href="">Việc Làm</a></li>
                <li><a href="">Công ty</a></li>
                <li><a href="">Diễn đàn</a></li>
            </ul>
        </div>
        <div class="category-btn">
            <a href="#"><button class="btn btn-secondary btn-small">Việc tìm người</button></a>
        </div>
        <div class="login">
            <span class="login-icon">
                <i class="fas fa-user-circle"></i>
            </span>
            <span class="login-link" onclick="document.getElementById('login-modal').style.display='block'">
                <a>Đăng nhập / Đăng ký</a>
            </span>
        </div>
        <div id="login-modal" class="modal">
            <form id="login_form" enctype="multipart/form-data" action-type="login" action="/login" method="POST" class="modal-content" onsubmit="checkLogErr()">
                <ul>
                    <li>Đăng nhập</li>
                    <li onclick="regModal();">Đăng ký</li>
                </ul>
                <h2>Đăng nhập tài khoản của bạn</h2>
                <div class="err_text"></div>
                <input type="text" id="email" name="email" placeholder="Email" autofocus />
                <input type="password" id="password" name="password" placeholder="Mật khẩu" />
                <p class="agree">Bằng cách nhấn vào nút Đăng Nhập là bạn đã đồng ý với <a href="#">các điều khoản</a>
                    của chúng tôi</p>
                <div class="press">
                    <button class="btn btn-primary btn-normal" type="submit">Đăng nhập</button>
                    <a onclick="outModal()" class="btn btn-normal">Thoát</a>
                </div>
                <p class="forget">
                    <a href="#">Quên mật khẩu của bạn</a>
                </p>
            </form>
        </div>
        <div id="reg-modal" class="modal">
            <div id="reg_form">
                <form enctype="multipart/form-data" action-type="register" action="/register" method="POST" class="modal-content">
                    <ul>
                        <li onclick="loginModal();">Đăng nhập</li>
                        <li>Đăng ký</li>
                    </ul>
                    <h2>Đăng ký tài khoản của bạn</h2>
                    <div class="err_text"></div>
                    <select>
                        <option selected disabled hidden>Bạn là ?</option>
                        <option class="option" value="nguoi-tim-viec">Người tìm việc</option>
                        <option class="option" value="viec-tim-nguoi">Việc tìm người</option>
                    </select>
                    <input type="text" id="fullname" name="fullname" placeholder="Họ và tên" />
                    <input type="text" id="display-name" name="display-name" placeholder="Tên hiển thị" />
                    <input type="email" class="email" name="email" placeholder="Email" />
                    <div class="input-group">
                        <input type="password" class="password" name="password" placeholder="Mật khẩu" />
                        <span><i class="fas fa-exclamation-circle" err="6"></i></span>
                        <div class="tooltips">
                            <span><i class="fas fa-check-circle" err="1"></i> 6 kí tự trở lên</span>
                            <span><i class="fas fa-check-circle" err="2"></i> 1 kí tự số</span>
                            <span><i class="fas fa-check-circle" err="3"></i> 1 kí tự hoa</span>
                            <span><i class="fas fa-check-circle" err="4"></i> 1 kí tự thường</span>
                            <span><i class="fas fa-check-circle" err="5"></i> 1 kí tự đặc biệt</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="password" class="password" name="password2" placeholder="Nhập lại mật khẩu" />
                        <span><i err="7" class="fas fa-exclamation-circle"></i></span>
                    </div>

                    <p class="agree">Bằng cách nhấn vào nút Đăng Ký là bạn đã đồng ý với <a href="#">các điều khoản</a>
                        của chúng tôi</p>
                    <div class="press">
                        <button class="btn btn-primary btn-normal" type="submit">Đăng ký</button>
                        <a onclick="outModal()" class="btn btn-normal">Thoát</a>
                    </div>
                </form>
            </div>
        </div>
</header>
