<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
<div class="err_text">
    <%= error.msg %>
</div>
<% }); %> <% } %>

<% if(success_msg != ''){ %>
<div class="success_text">
    <%= success_msg %>
</div>
<% } %>

<% if(error_msg != ''){ %>
<div class="err_text">
    <%= error_msg %>
</div>
<% } %>

<% if(error != ''){ %>
<div class="err_text">
    <%= error %>
</div>
<% } %>
