# Editor configuration, see http://editorconfig.org
# ==========================
# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under static directory
[static/**.js]
indent_style = space
indent_size = 4

# For .md files
[*.md]
max_line_length = off
trim_trailing_whitespace = false
