<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="About the GOOD JOBS">
    <meta name="author" content="GOOD JOBS - Team">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GOOD JOBS _ Your Job - Our Mission</title>
    <!-- IMG -->
    <link rel="shortcut icon" type="images/png" href="images/logo.png" />
    <!-- CSS Style -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/reset.css">
    <!-- Javascript Style -->
    <script src="https://kit.fontawesome.com/9d1259de98.js"></script>
</head>

<body>
        <div class="container">
                <div class="block">
                    <img class="logo" src="images/logo.png" alt="Good-Jobs">
                    <h2 class="hm-title welcome-title">Chào mừng bạn đến với <span class="branch">Good Jobs</span></h2>
                    <div class="hm-col-group">
                        <div class="hm-col">
                            <div class="col-elem">
                                <img src="images/f1.png" width="170px" alt="">
                            </div>
                            <div class="col-info">
                                <img class="icon" src="images/stick-icon.png"> <span>Hàng trăm công việc đang tuyển
                                    dụng</span>
                                <img class="icon" src="images/stick-icon.png"> <span>Tạo hồ sơ trực tuyến nhanh</span>
                                <img class="icon" src="images/stick-icon.png"> <span>Hàng ngàn nhà tuyển dụng đang tìm
                                    bạn</span>
                            </div>
                            <div class="col-elem">
                                <a href="/viec-tim-nguoi"><button class="col-btn">Người tìm việc</button></a>
                            </div>
                        </div>
                        <div class="hm-col">
                            <div class="col-elem">
                                <img src="images/f2.png" width="170px" alt="">
                            </div>
                            <div class="col-info">
                                <img class="icon" src="images/stick-icon.png"> <span>Đăng tin tuyển dụng miễn phí</span>
                                <img class="icon" src="images/stick-icon.png"> <span>Tìm kiếm nhanh hàng ngàn hồ sơ ứng
                                    viên</span>
                                <img class="icon" src="images/stick-icon.png"> <span>Hệ thống quản lý thông minh</span>
                            </div>
                            <div class="col-elem">
                                <a href="/viec-tim-nguoi"><button class="col-btn">Việc Tìm Người</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
</body>

</html>
