<div class="container">
    <div class="block">
        <img class="logo" src="images/logo.png" alt="Good-Jobs">
        <h2 class="hm-title welcome-title">Chào mừng bạn đến với <span class="branch">Good Jobs</span></h2>
        <div class="hm-col-group">
            <div class="hm-col">
                <div class="col-elem">
                    <img src="images/f1.png" width="170px" alt="">
                </div>
                <div class="col-info">
                    <img class="icon" src="images/stick-icon.png"> <span>Hàng trăm công việc đang tuyển
                        dụng</span>
                    <img class="icon" src="images/stick-icon.png"> <span>Tạo hồ sơ trực tuyến nhanh</span>
                    <img class="icon" src="images/stick-icon.png"> <span>Hàng ngàn nhà tuyển dụng đang tìm
                        bạn</span>
                </div>
                <div class="col-elem">
                    <a href="/viec-tim-nguoi"><button class="col-btn">Người tìm việc</button></a>
                </div>
            </div>
            <div class="hm-col">
                <div class="col-elem">
                    <img src="images/f2.png" width="170px" alt="">
                </div>
                <div class="col-info">
                    <img class="icon" src="images/stick-icon.png"> <span>Đăng tin tuyển dụng miễn phí</span>
                    <img class="icon" src="images/stick-icon.png"> <span>Tìm kiếm nhanh hàng ngàn hồ sơ ứng
                        viên</span>
                    <img class="icon" src="images/stick-icon.png"> <span>Hệ thống quản lý thông minh</span>
                </div>
                <div class="col-elem">
                    <a href="/viec-tim-nguoi"><button class="col-btn">Việc Tìm Người</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
