<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goodjob  - Your job,Our mission</title>
    <link rel="shortcut icon" type="images/png" href="images/logo.png"/>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://kit.fontawesome.com/9d1259de98.js"></script>
</head>
<body>
    <div class="container">
        <img src="images/logo.png" alt="GJ">
        <h2>Chào mừng bạn đến với <span>Good Jobs<span></span></h2>
        <div class="hm-col-group">
            <div class="hm-col">
                <div class="col-elem">
                    <img src="images/f1.png" width="200px" alt="">
                </div>
                <div class="col-info">
                    <span><i class="far fa-check-circle"></i> Hàng trăm công việc đang tuyển dụng</span>
                    <span><i class="far fa-check-circle"></i> Tạo hồ sơ trực tuyến</span>
                    <span><i class="far fa-check-circle"></i> Hàng ngàn nhà tuyển dụng đang tìm bạn</span>
                </div>    
                <div class="col-elem">
                   <button class="col-btn"> <a href="/home">Người tìm việc</a></button>
                </div>
            </div>
            <div class="hm-col">
                <div class="col-elem">
                    <img src="images/f2.png" width="200px" alt="">
                </div>
                <div class="col-info">
                    <span><i class="far fa-check-circle"></i> Đăng tin tuyển dụng miễn phí</span>
                    <span><i class="far fa-check-circle"></i> Tìm kiếm nhanh hàng ngàn hồ sơ ứng viên</span>
                    <span><i class="far fa-check-circle"></i> Hệ thống quản lý thông minh</span>
                </div> 
                <div class="col-elem">
                    <button class="col-btn"><a href="/home">Việc Tìm Người</a></button>                
                </div>
            </div>
        </div>
    </div>
</body>
</html>