<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="About the GOOD JOBS">
    <meta name="author" content="GOOD JOBS - Team">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GOOD JOBS _ Your Job - Our Mission</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required
            autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <br />

        <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
    </form>
</body>

</html>
