/*################ Add New Font ###############*/
@font-face
{
    font-family: 'UTMAvo';
    font-weight: normal;
    font-style: normal;

    src: local('UTM Avo'), url('/fonts/utm-avo/utm-avo.woff') format('woff');
}

@font-face
{
    font-family: 'UTMAvoBold';
    font-weight: normal;
    font-style: normal;

    src: local('UTMAvoBold'), url('/fonts/utm-avo/utm-avobold.woff') format('woff');
}

/*#### Default Style ######*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100%;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'UTMAvo';
    font-size: 14px;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

[class*='col-']
{
    float: left;

    padding: 15px;
}

.row::after
{
    display: table;
    clear: both;

    content: '';
}

.col-1
{
    width: 8.33%;
}

.col-2
{
    width: 16.66%;
}

.col-3
{
    width: 25%;
}

.col-4
{
    width: 33.33%;
}

.col-5
{
    width: 41.66%;
}

.col-6
{
    width: 50%;
}

.col-7
{
    width: 58.33%;
}

.col-8
{
    width: 66.66%;
}

.col-9
{
    width: 75%;
}

.col-10
{
    width: 83.33%;
}

.col-11
{
    width: 91.66%;
}

.col-12
{
    width: 100%;
}

/*####### For Large Device Screen ##########*/
@media only screen and (min-width: 1200px)
{
    .container
    {
        width: 100%;
        max-width: 1440px;
        margin: 20px auto;
    }

    .full-height
    {
        height: 80vh;
    }

    /*##### Header Style ####*/
    .logo img
    {
        width: 200px;
    }

    .top-nav
    {
        overflow: hidden;
    }

    .top-nav a
    {
        font-family: 'UTMAvoBold';
        font-size: 16px;

        display: block;
        float: left;

        padding: 14px 16px;

        text-align: center;
        text-transform: uppercase;

        color: #b7b7b7;
    }

    .top-nav a:hover,
    .top-link a:hover
    {
        color: #f90;
    }

    .top-link
    {
        text-align: center;
    }

    .top-link a
    {
        font-family: 'UTMAvoBold';
        font-size: 16px;

        display: block;

        padding: 14px 16px;

        text-transform: capitalize;

        color: #b7b7b7;
    }

    .top-signin a.signinLink
    {
        font-size: 16px;

        display: block;
        float: right;

        width: 100%;
        max-width: 180px;
        padding: 14px 16px;

        text-align: center;

        color: #f90;
        border: 1px solid #f90;
        border-radius: 25px;
    }

    .top-signin a.signinLink:hover
    {
        color: #fff;
        background-color: #f90;
    }

    .userInfo
    {
        position: relative;

        width: 100%;

        text-align: right;
    }


    .userInfo li a
    {
        font-weight: bold;

        display: block;

        padding: 6px 15px;
    }

    .userInfo li a:hover
    {
        background-color: #f7f7f7;
    }

    a.account
    {
        line-height: 16px;

        position: absolute;
        z-index: 110;
        right: 0;

        display: block;

        padding: 10px 0;
    }

    .submenu
    {
        position: absolute;
        z-index: 100;
        right: 0;

        display: none;

        width: 135px;
        padding: 40px 0 5px;

        border-radius: 6px;
    }

    .root
    {
        margin: 21px 0 0 0;
        padding: 10px 0;

        border-radius: 5px 5px 5px 5px;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .45);
    }

    .root::before
    {
        position: absolute;

        display: inline-block;

        content: '';

        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-bottom-color: #fff;
        border-left: 7px solid transparent;
    }

    .profile-circle
    {
        width: 36px;
        height: 36px;
    }

    .header-line
    {
        display: block;

        width: 100%;

        border: 1px solid #b7b7b7;
    }

    .account:focus + .submenu
    {
        display: block;
    }

    /*#### Home Page Search Field Style#####*/
    .search-text
    {
        font-size: 30px;
        font-weight: normal;

        text-align: justify;

        opacity: .5;
        color: #000;
    }

    .search-field
    {
        overflow: hidden;

        padding: 30px 0;
    }

    .search-form
    {
        text-align: right;
    }

    .search-input
    {
        line-height: 18px;

        width: 100%;
        max-width: 360px;
        padding: 12px 24px;

        transition: transform 250ms ease-in-out;
        transition: all 250ms ease-in-out;

        border: 2px solid #00aeef;
        border-radius: 50px;
        background-color: transparent;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'24\' height=\'24\' viewBox=\'0 0 24 24\'%3E%3Cpath d=\'M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z\'/%3E%3Cpath d=\'M0 0h24v24H0z\' fill=\'none\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 18px 18px;

        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    .search-input::placeholder
    {
        letter-spacing: 1.5px;
        text-transform: uppercase;

        color: #b7b7b7;
    }

    .search-input:hover,
    .search-input:focus
    {
        padding: 12px 0;

        border: 1px solid transparent;
        border-bottom: 2px solid #00aeef;
        border-radius: 0;
        outline: 0;
        background-position: 100% center;
    }

    .select-list
    {
        text-align: right;
    }

    .select-list .select-box,
    .sign-input .select-box
    {
        font-size: 16px;
        line-height: 18px;

        width: 100%;
        max-width: 280px;
        padding: 12px 24px;

        border: 0;
        border-bottom: 2px solid #00aeef;
    }

    .select-list .select-box:hover,
    .select-list .select-box:focus,
    .sign-input .select-box:hover,
    .sign-input .select-box:focus
    {
        outline: none;
    }

    /*#### Sign Style #####*/
    .close-icon
    {
        text-align: right;
    }

    .close-icon a
    {
        font-size: 30px;

        padding: 10px 0;

        color: #000;
    }

    .title
    {
        width: 100%;
        padding: 2% 0;

        text-align: center;
    }

    .title h1
    {
        font-size: 30px;
        font-weight: normal;

        text-transform: capitalize;
    }

    .right-side,
    .left-side
    {
        padding: 2% 0;
    }

    .right-side img,
    .left-side img
    {
        width: 100%;
        height: auto;
    }

    .normal-form
    {
        width: 100%;
    }

    .sign-input
    {
        display: flex;
        overflow: hidden;

        padding: 20px 0;

        flex-wrap: wrap;
    }

    .forgot-link,
    .sign-button,
    .signup-link
    {
        overflow: hidden;

        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    .forgot-link
    {
        text-align: right;
    }

    .forgot-link a,
    .signup-link a
    {
        font-size: 16px;

        padding: 5px 0;

        text-transform: capitalize;

        color: #f90;
    }

    .forgot-link a:hover,
    .signup-link a:hover
    {
        text-decoration: underline;
    }

    .sign-button,
    .signup-link
    {
        padding: 20px 0;
    }

    .sign-button button
    {
        font-size: 16px;

        width: 168px;
        height: 43px;

        cursor: pointer;
        text-transform: capitalize;

        color: #f90;
        border: 1px solid #f90;
        border-radius: 25px;
        background: transparent;
    }

    .sign-button button:hover
    {
        color: #fff;
        background-color: #f90;
    }

    .sign-button button:focus
    {
        outline: none;
    }

    .signup-link p
    {
        font-size: 15px;
    }

    .sign-button ul
    {
        overflow: hidden;

        width: 100%;
    }

    .sign-button li:first-child
    {
        float: left;

        padding: 10px 0;
    }

    .sign-button li:last-child
    {
        float: right;
    }

    .sign-button a
    {
        font-size: 16px;

        width: 168px;
        height: 43px;

        text-transform: capitalize;

        color: #f90;
    }

    /*###### Input Style #######*/
    .input-style
    {
        position: relative;

        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    .input-style .label
    {
        font-size: 16px;
        font-weight: 500;

        position: absolute;
        top: 16px;
        left: 0;

        transition: all .2s ease;
        transform-origin: 0 0;
        text-transform: capitalize;

        color: #000;
    }

    .input-style .border
    {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 3px;

        transition: all .15s ease;
        transform: scaleX(0);
        transform-origin: 0 0;

        background: #00aeef;
    }

    .input-style input,
    .input-style select
    {
        font-size: 14px;

        width: 100%;
        height: 48px;
        padding: 12px 0;

        transition: all .15s ease;

        color: #000;
        border: 0;
        border-bottom: 2px solid #00aeef;
        background: transparent;
    }

    .input-style input:not(:placeholder-shown) + span,
    .input-style select:not(:placeholder-shown) + span
    {
        transform: translateY(-26px) scale(.75);

        color: #00aeef;
    }

    .input-style input:focus,
    .input-style select:focus
    {
        outline: none;
    }

    .input-style input:focus + span,
    .input-style select:focus + span
    {
        transform: translateY(-26px) scale(.75);

        color: #00aeef;
    }

    .input-style input:focus + span + .border,
    .input-style select:focus + span + .border
    {
        transform: scaleX(1);
    }

    .input-style input[type=date]::clear-button
    {
        display: none;
    }

    .input-style input[type=date]::-webkit-inner-spin-button
    {
        display: none;
    }

    /*######### Show the Validation icon ##########*/

    .sign-input input:not([type=submit]):valid:focus
    {
        background: url('https://webdevtrick.com/wp-content/uploads/check-icon.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 20px;
    }

    .sign-input input:not([type=submit]):invalid:focus
    {
        background: url('https://webdevtrick.com/wp-content/uploads/xicon.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 20px;
    }

    .sign-input input[type=date]:valid:focus
    {
        background: url('https://webdevtrick.com/wp-content/uploads/check-icon.svg');
        background-repeat: no-repeat;
        background-position: 95%;
        background-size: 20px;
    }

    .sign-input input[type=date]:invalid:focus
    {
        background: url('https://webdevtrick.com/wp-content/uploads/xicon.svg');
        background-repeat: no-repeat;
        background-position: 95%;
        background-size: 20px;
    }

    /*###### Update Page Style #######*/
    .left-content
    {
        position: relative;

        width: 100%;
        max-width: 200px;
        margin: auto;

        text-align: center;
    }

    .left-content img
    {
        width: 200px;
        height: 200px;

        border-radius: 50%;
    }

    .tooltiptext
    {
        font-size: 18px;

        position: absolute;
        bottom: -100;

        display: none;

        width: 100%;
        padding: 14px 15px;

        color: #f90;
        border: 1px solid #f90;
        border-radius: 15px;
    }

    .left-content a:hover + .tooltiptext
    {
        display: block;
    }

    .right-content
    {
        padding: 10px;

        box-shadow: 0 0 5px 0 rgba(183, 183, 183, 1);
    }

    .sub-title
    {
        font-size: 16px;

        text-transform: capitalize;

        color: #f90;
    }

    .sub-title h3
    {
        width: 100%;
        padding: 14px 16px;
    }

    .right-content .sign-input
    {
        padding: 10px 0;
    }

    .right-content .input-style
    {
        margin: 0;
    }

    .save-button,
    .example
    {
        position: relative;

        width: 100%;
        max-width: 360px;
    }

    .save-button
    {
        padding: 10px;
    }

    .example
    {
        padding: 10px 0;
    }

    .save-button button
    {
        font-size: 18px;

        padding: 14px 90px;

        cursor: pointer;

        color: #f90;
        border: 1px solid #f90;
        border-radius: 25px;
        background: transparent;
    }

    .save-button button:hover
    {
        color: #fff;
        background-color: #f90;
    }

    .save-button button:focus
    {
        outline: none;
    }

    /*##### User Profile Left Content ######*/
    .profile-screen .left-content
    {
        width: 100%;
        max-width: 400px;
    }

    .profile-information
    {
        overflow: hidden;

        margin: 20px;
        padding: 15px;

        box-shadow: 0 0 5px 0 rgba(183, 183, 183, 1);
    }

    .profile-banner,
    .profile-bio
    {
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    .profile-banner
    {
        border-bottom: 1px solid #b7b7b7;
    }

    .profile-banner h1
    {
        font-size: 30px;

        padding: 10px 5px;

        text-transform: uppercase;

        color: #f90;
    }

    .profile-banner h3
    {
        padding: 10px 5px;
    }

    .profile-title
    {
        font-size: 16px;

        text-transform: capitalize;

        color: #f90;
    }

    .left-side .profile-title h3
    {
        padding: 10px 0;
    }

    .right-side .profile-title h3
    {
        float: left;

        padding: 5px 0;
    }

    .right-side .profile-title a
    {
        font-size: 14px;

        float: right;

        padding: 10px 0;

        color: #b7b7b7;
    }

    .right-side .profile-title a:hover
    {
        color: #f90;
    }

    .profile-content
    {
        clear: both;

        padding: 10px 0;

        text-align: left;
    }

    .profile-sub-title
    {
        font-weight: bold;

        text-transform: capitalize;
    }

    .profile-sub-title,
    .profile-sub-content,
    .experience
    {
        padding: 5px 0;
    }

    .experience:not(:first-child)
    {
        border-top: 1px solid #b7b7b7;
    }

    .profile-link a
    {
        color: #b7b7b7;
    }

    .profile-link a:hover
    {
        color: #f90;
    }

    .right-side .profile-link a
    {
        display: block;
        float: left;

        margin-right: 20px;
        padding: 10px 0;
    }

    /*########## Employeer Style ##############*/
    .employeer-content
    {
        width: 100%;
        height: 100%;

        text-align: center;
    }

    .employeer-text h1
    {
        font-size: 30px;

        padding: 10px 0;
    }

    .employeer-text h3
    {
        font-size: 20px;

        padding: 10px 0;
    }

    .employeer-text p,
    .employeer-link p
    {
        font-size: 16px;

        padding: 10px 0;
    }

    .employeer-link
    {
        margin-top: 50px;
    }

    .employeer-link a
    {
        font-size: 16px;

        display: block;

        color: #f90;
    }

    .employeer-link a:hover
    {
        text-decoration: underline;
    }

    .employeer-link .button
    {
        width: 150px;
        margin: 20px auto;
        padding: 14px 16px;

        border: 1px solid #f90;
        border-radius: 25px;
    }

    .employeer-link .button:hover
    {
        text-decoration: none;

        color: #fff;
        background-color: #f90;
    }

    .employeer-form
    {
        height: 100%;
        padding: 20px;
    }

    .employeer-form h1
    {
        font-size: 30px;
    }
}
