/*################ Add New Font ###############*/
@font-face
{
    font-family: 'UTMAvo';
    font-weight: normal;
    font-style: normal;

    src: local('UTM Avo'), url('/fonts/utm-avo/utm-avo.woff') format('woff');
}

@font-face
{
    font-family: 'UTMAvoBold';
    font-weight: normal;
    font-style: normal;

    src: local('UTMAvoBold'), url('/fonts/utm-avo/utm-avobold.woff') format('woff');
}

/*#### Default Style ######*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'UTMAvo';
    font-size: 14px;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

[class*='col-']
{
    float: left;

    padding: 15px;
}

.row::after
{
    display: table;
    clear: both;

    content: '';
}

.col-1
{
    width: 8.33%;
}

.col-2
{
    width: 16.66%;
}

.col-3
{
    width: 25%;
}

.col-4
{
    width: 33.33%;
}

.col-5
{
    width: 41.66%;
}

.col-6
{
    width: 50%;
}

.col-7
{
    width: 58.33%;
}

.col-8
{
    width: 66.66%;
}

.col-9
{
    width: 75%;
}

.col-10
{
    width: 83.33%;
}

.col-11
{
    width: 91.66%;
}

.col-12
{
    width: 100%;
}

/*####### For Large Device Screen ##########*/
@media only screen and (min-width: 1200px)
{
    .container
    {
        width: 100%;
        max-width: 1440px;
        margin: 20px auto;
    }

    .sidenav
    {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        overflow-x: hidden;

        width: 20%;
        height: 100%;
        padding: 10px 20px;

        border-right: 1px solid #b7b7b7;
        background-color: #fff;
    }

    .sidenav .top-logo
    {
        width: 100%;
        padding: 10px 0;

        text-align: center;

        border-bottom: 1px solid #b7b7b7;
    }

    .sidenav .top-logo img
    {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .sidenav .main-nav
    {
        width: 100%;
        margin-top: 30px;
        padding: 20px 0;
    }

    .sidenav .main-nav a
    {
        font-size: 18px;

        display: block;

        padding: 14px 16px;

        text-transform: capitalize;

        color: #000;
    }

    .sidenav .main-nav a:hover
    {
        color: #fff;
        background-color: #f90;
    }

    .sidenav .main-nav .nav-btn
    {
        margin-bottom: 15px;

        text-align: center;

        color: #fff;
        border: 1px solid #f90;
        border-radius: 15px;
        background-color: #f90;
    }

    .sidenav .side-footer
    {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        padding: 20px 0;

        text-align: center;

        border-top: 1px solid #b7b7b7;
    }

    .sidenav .side-footer a
    {
        font-size: 18px;
        font-weight: bold;

        display: block;

        text-transform: capitalize;

        color: #000;
    }

    .sidenav .side-footer a:hover
    {
        color: #f90;
    }

    .main-content
    {
        font-size: 14px;

        margin-left: 20%;
        padding: 10px;
    }

    .main-title
    {
        width: 100%;

        text-align: center;
    }

    .main-title h1
    {
        text-transform: capitalize;
    }

    input:not([type=submit]),
    select,
    textarea
    {
        /* Rounded borders */
        box-sizing: border-box;
        width: 100%;
        /* Make sure that padding and width stays in place */
        margin-top: 6px;
        /* Add a top margin */
        margin-bottom: 16px;
        /* Full width */
        padding: 12px;
        /* Bottom margin */

        resize: vertical;;
        /* Some padding */

        border: 1px solid #ccc;
        /* Gray border */
        border-radius: 4px;
        /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    input[type=submit]
    {
        padding: 12px 20px;

        cursor: pointer;

        color: white;
        border: none;
        border-radius: 4px;
        background-color: #4caf50;
    }

    input[type=submit]:hover
    {
        background-color: #45a049;
    }
}
