/* GLOBAL*/
.btn {
    font-weight: 400; 
    font-size: 1rem;
    border: solid 1px #b7b7b7;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.btn-small {
    width: 150px;
    height: 30px;
    border-radius: 27.5px;
}
.btn-normal {
    width: 200px;
    height: 55px;
    border-radius: 27.5px;
} 
.btn-large {
    width: 100%;
    height: 55px;
    margin: 20px 0;
    border-radius: 27.5px;
}
.btn-primary {
    color: #fff;
    background: #fff;
    background-image: linear-gradient( rgba(255, 153,0,.2), rgba(255, 153, 0, .5), rgba(255, 153, 0, 1));
}
.btn-primary:hover {
    background-image: linear-gradient( rgba(255, 153, 0,1), rgba(255, 153, 0, .5), rgba(255, 153, 0, .2));
}
.btn-secondary {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    background-image: linear-gradient(rgba(215,215,215,.2),rgba(215,215,215,.5),rgba(215,215,215,1));
  }
  .btn-secondary:hover {
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(rgba(215,215,215,1),rgba(215,215,215,.5),rgba(215,215,215,.2));
  }
.btn-secondary:active {
        background-color: #b7b7b7;
        background-image: none;
        animation: btn-press;
}
@keyframes btn-secondary-press {
    0% {
        background-color: #b7b7b7;
    }
    50% {
        background-color: #b7b7b7;
    }
    100% {
        background-color: #d7d7d7;
    }
}
/* GLOBAL END........... */
.container {
    width: 100%;
    height: 100vh;
}
header {
    width: 100%;
    background: #fff;
    user-select: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px -1px 8px #ccc;
}
.header-content {
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    background: inherit;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header-content .logo {
    flex-basis: 16%;
}
.header-content .logo img{
    width: 150px;
}
.header-content .header-menu {
    flex-basis: 54%;
}
.header-content .top-menu li{
    display: inline-block;
    padding: 0 1rem;
}
.header-content .top-menu li a{
    font-size: 1rem;
    font-weight: bold;
    color: #818181;
    text-transform: capitalize;
}
.header-content .top-menu li:hover a {
    color: #d42a2a;
}
.header-content .top-menu li a:active {
    color: #d42a2a;
}
.header-content .category-btn {
    flex-basis: 16%;
}
.login .login-link {
    margin-left: .5rem;
}
header .login .login-icon i{
    transform: translate(0,12%);
    display: inline-block;
    font-size: 1.5rem;
    color: #656060;
}
header .login .login-link:hover {
    text-decoration: underline;
}
/* Main Login Form */
main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.user-action {
    width: 600px;
    text-align: center;
}
.tabs {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tab {
    padding: 1rem;
    flex-basis: 50%;
    background: #ddd;
    border: 1px solid #ccc;
}
.tab a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.active {
    background: #fff;
    border-bottom: none;
}
#signup-tab {
    border-radius: 0 2rem 0 0;
}
#signin-tab {
    border-radius: 2rem 0 0 0;
}
.active .tab-content {
    display: block;
}

.tab-content {
    width: 534px;
    display: none;
    position: absolute;
    top: 3.1rem;
    left:0;
    padding: 2rem;
    border: 1px solid #b1b0b0;
    border-top:none;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 2px 2px 6px #ccc;;
}
.tab-content .login-title {
    padding: 4rem 0 2rem 0;
    font-weight: bold;
    font-size: 1.5rem;
}
.tab-content .messenger {
    font-weight: bold;
    color: red;
}
.tab-content input {
    padding: .8rem;
    font-size: 1rem;
    width: 90%;
    margin: 1rem;
    color: #000;
    border: 1px solid #ccc;
    border-radius: .4rem;
    box-shadow: 2px 2px 2px #ccc;
    outline: none;
}
.tab-content input:focus {
    border: 1px solid #70a1ff;
}
.tab-content input::placeholder  {
    color: #000;
    font-size: 1rem;
}
.tab-content p, h3 {
    line-height: 1.5rem;
    user-select: none;
    font-weight: 700;
}
.tab-content p a {
    color: orange;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: bold;
}
main {
    height: 60vh;
}
footer {
    width: 100%;
}
.footer-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px 0;
}
