/* =BASE
====================================================== */
.btn {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    border: solid 1px #b7b7b7;
    cursor: pointer;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    background-image: linear-gradient(rgba(215, 215, 215, 0.2),
        rgba(215, 215, 215, 0.5),
        rgba(215, 215, 215, 1))
}
.alert {
    padding: 10px;
}
.error {
    color : red;
}
.btn:hover {
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(rgba(215, 215, 215, 1),
        rgba(215, 215, 215, 0.5),
        rgba(215, 215, 215, 0.2));
}
.btn:active {
    background-color: #b7b7b7;
    background-image: none;
}
.btn-small {
    width: 150px;
    height: 30px;
    border-radius: 27.5px;
    line-height: 30px;
}
.btn-normal {
    width: 160px;
    height: 50px;
    border-radius: 27.5px;
    line-height: 50px;
}
.btn-large {
    width: 100%;
    height: 55px;
    margin: 20px 0;
    border-radius: 27.5px;
}
.btn-primary {
    color: #fff !important;
    background: #fff;
    background-image: linear-gradient(rgba(255, 153, 0, .2), rgba(255, 153, 0, .5), rgba(255, 153, 0, 1));
}
.btn-primary:hover {
    background-image: linear-gradient(rgba(255, 153, 0, 1), rgba(255, 153, 0, .5), rgba(255, 153, 0, .2));
}
.btn-primary:active {
    background-color: #b7b7b7;
    background-image: none;
}
.btn-secondary {
    background: #fff;
    background-image: linear-gradient(rgba(215, 215, 215, .2), rgba(215, 215, 215, .5), rgba(215, 215, 215, 1));
}
.btn-secondary:hover {
    background-image: linear-gradient(rgba(215, 215, 215, 1), rgba(215, 215, 215, .5), rgba(215, 215, 215, .2));
}
.btn-secondary:active {
    background-color: #b7b7b7;
    background-image: none;
    animation: btn-press;
}
/* =BODY
====================================================== */
.container {
    width: 100%;
}
header {
    width: 100%;
    background: #fff;
    user-select: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px -1px 8px #ccc;
}
/* =LOGIN AND SIGNUP MODAL
====================================================== */
.modal {
    position: relative;
}
.modal-content {
    width: 500px;
    background: #fff;
    box-shadow: 0 0 4px  rgba(0, 0, 0, 0.8);
    border: solid 1px #b7b7b7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal ul {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.modal ul li {
    flex-basis: 50%;
    padding: 14px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}
#login_form ul li:last-child {
    color: #b7b7b7;
    border: 1px solid #b7b7b7;
    background: #fff;
    border-right: none;
    border-top: none;
    box-shadow: inset 0 0 30px 0 rgba(183, 183, 183, 0.8)
}
#reg_form ul li:first-child {
    color: #b7b7b7;
    border: 1px solid #b7b7b7;
    background: #fff;
    box-shadow: inset 0 0 30px 0 rgba(183, 183, 183, 0.8);
    border-right: none;
    border-top: none;
}
.modal form {
    padding: 20px;
}

.modal .err_text {
    color: #d42a2a;
}
.modal .success_text {
    color: forestgreen;
}
.modal .agree {
    width: 80%;
    text-align: center;
    padding: 12px 0;
}
.modal .agree a {
    font-weight: 700;
}
.modal p a {
    color: #ff9900;
}

.modal p.forget:hover {
    text-decoration: underline;
}
.modal h2 {
    font-stretch: normal;
    font-weight: 100;
    margin: 70px 0 30px 0;
    font-size: 27px;
    text-align: center;
    color: #000000;
}
.input-group {
    width: 444px;
    position: relative;
}
.input-group span i {
    padding-left: 0px;
    font-size: 30px;
    vertical-align: middle;
    color: #b7b7b7;
}
.tooltips {
    display: none;
    background: transparent;
    background: #efefef;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 999;
    position: absolute;
    top: -20px;
    right: -140px;
    border-radius: 5px;
}
.modal .tooltips span {
    display: block;
}
.modal .tooltips span i {
    font-size: 16px;
}
.modal input {
    font-size: 16px;
    color: #000000;
    width: 400px;
    border: 1px solid #b7b7b7;
    margin: 12px 0;
    padding: 15px 21px;
    outline: none;
}
.modal select {
    font-size: 16px;
    color: #000000;
    width: 400px;
    border: 1px solid #b7b7b7;
    margin: 12px 0;
    padding: 15px 21px;
    outline: none;
}

#reg_form input[class="password"] {
    width: 350px;
}
.show {
    display: block;
}
.modal select {
    width: 444px;
    background-color: #fff;
    background-image: linear-gradient(to bottom,
        rgba(215, 215, 215, 0.7),
        rgba(215, 215, 215, 0.55) 25%,
        rgba(215, 215, 215, 0.55) 75%,
        rgba(215, 215, 215, 0.7));
}
.modal select .option {
    background: #d7d7d7;
    height: 50px;
}
.modal select .option:hover {
    background: #ff9900;
}
.modal input::placeholder {
    color: #000;
}
.press {
    width: 80%;
    margin: 30px 0;
}
.press a {
    float: right;
}
/* =HEADER
====================================================== */
.header-content {
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    background: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-content .logo {
    flex-basis: 230px;
}
.header-content .logo img {
    width: 150px;
}
.header-content .header-menu {
    /* flex-basis: 760px; */
    display: none;
}
.header-content .top-menu li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    box-sizing: border-box;
}
.header-content .top-menu li a {
    font-size: 1rem;
    font-weight: bold;
    color: #818181;
    text-transform: capitalize;
}
.header-content .top-menu li:hover a {
    color: #d42a2a;
}
.header-content .top-menu li a:active {
    color: #d42a2a;
}
.header-content .category-btn {
    /* flex-basis: 250px; */
    display: none;
}
.login .login-link {
    margin-left: 12px;
}
.login .login-link .user-dropdown {
    display: inline-block;
    position: relative;
}
.dropdown {
    display: none;
    background: #fff;
    border:1px solid #b7b7b7;
    position: absolute;
    right: 0;
    bottom: -80px;
    z-index: 1;
}
.dropdown:after, .dropdown::before {
    bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown:after {
    border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #b7b7b7;
	border-width: 3px;
	margin-left: -3px;
}
.dropdown:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #b7b7b7;
    border-width: 8px;
    margin-left: -8px;
}
.dropdown li {
    padding: 10px 30px;
    border-bottom: 1px solid #efefef;
}
.dropdown li:hover {
    background: #efefef;
}
.login .login-link .user-dropdown:hover .dropdown {
    display: block;
}
header .login .login-icon i {
    transform: translate(0, 12%);
    display: inline-block;
    font-size: 1.5rem;
    color: #656060;
}
header .login .login-link:hover {
    text-decoration: underline;
}
/* =MAIN
====================================================== */
main {
    min-height: 60vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
/* =PROFILE
====================================================== */
#profile {
    max-width: 1120px;
    margin: 20px auto;
    box-sizing: border-box;
}
#profile #title {
    padding: 20px 0;
}
#profile #title h2 {
    display: inline-block;
    font-size: 21px;
    color: #ff9900;
    text-transform: capitalize;
    border-bottom: 5px solid #ff9900;
}
#profile .required-text {
    color: red;
    font-weight: bold;
}
#profile #title h4 {
    font-weight: bold;
    font-size: 
}
.profile-header {
    height: 200px;
    width: 100%;
    background-color: #ff9900;
    position: relative;
}
.profile-header #avatar {
    width: 128px;
    height: 128px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    left: 60px;
}
.profile-header #avatar img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
#user-head-infomation p {
    padding: 20px;
}
#user-head-infomation p span {
    padding: 0 10px;
}
.profile-header #avatar-edit {
    background: #fff;
    color: #ff9900;
    padding: 4px;
    position: absolute;
    bottom: -38px;
    left: 160px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/* =USER DETAIL
====================================================== */
.profile-header #display-name {
    padding: 4px;
    position: absolute;
    bottom: 0px;
    left: 270px;
}
.profile-header #display-name h3 {
    font-size: 44px;
    color: #fff;
}
#user-head-infomation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border:1px solid #b7b7b7;
}
#profile section {
    padding: 18px;
    border: 1px solid #b7b7b7;
    margin: 40px 0;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
#profile .section-info-title {
    border-bottom: 5px solid #ff9900;
}
#profile .section-info-title h2 {
    padding-bottom: 10px;
    color: #ff9900;
    font-size: 28px;
}
#profile section .section-info-detail {
    padding-top: 20px;
}
#profile section .section-info-detail .section-content {
    color: #b7b7b7;
    padding-bottom: 10px;
}
#profile section .section-info-detail .section-edit {
    color: #ff9900;
}
#profile table {
    width: 100%;
    margin-bottom: 20px;
}
#profile table tr td {
    padding: 5px 0;
}
#profile table tr td:first-child {
    font-weight: bold;
    width: 20%;
}
/* =EDIT PAGE USER DETAIL
====================================================== */
.profile-edit-form {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
#profile-edit-content {
    flex-basis: 800px;
    padding: 20px;
}
#profile-input-top {
    display: flex;
    flex-direction: row;
}
#profile-input-top input {
    width: 320px;
    padding: 15.5px;
}
#profile-input-mid input {
    width: 80%;
    padding: 15.5px;
}
#profile-input-bottom input#street {
    width: 500px;
}
.col-profile {
    flex-basis: 50%;
}
.form-group {
    display: block;
    padding: 10px;
}
.form-group label {
    display: block;
    margin: 6px 0;
    font-weight: bold;
    text-transform: capitalize;
}
.form-group input {
    font-size: 16px;
    color: #000;
    outline: none;
    border:1px solid #b7b7b7;
}
.form-group select {
    width: 350px;
    padding: 15.5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgba(215, 215, 215, 0.7), rgba(215, 215, 215, 0.55) 25%, rgba(215, 215, 215, 0.55) 75%, rgba(215, 215, 215, 0.7));
    outline: none;
    cursor: pointer;
}
.form-group select#district {
    width:250px;
}
.form-group select#ward {
    width: 200px;
}
.form-group input::placeholder {
    color: #b7b7b7;
}
.form-group input:disabled {
    background-color: #d7d7d7;
}
#profile-input-bottom input {
    width: 320px;
    padding: 15.5px;
}
#profile-save {
    padding-top: 40px;
    flex-basis: 300px;
}
.form-group .date {
    padding: 12.5px !important;
}
/* =FOOTER
====================================================== */
footer {
    width: 100%;
}
.footer-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    height: 90px;
    box-sizing: border-box;
    line-height: 90px;
    margin-bottom: 20px;
}
/* =AMINATION
====================================================== */
@keyframes btn-secondary-press {
    0% {
        background-color: #b7b7b7;
    }
    50% {
        background-color: #b7b7b7;
    }

    100% {
        background-color: #d7d7d7;
    }
}
@keyframes user-box {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
