* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: UTMAvo;
    src: url(../fonts/UTMAvo.otf);
}
@font-face {
    font-family: UTMAvoBold;
    src: url(../fonts/UTMAvoBold.otf);
}
li,ol {
    list-style: none;
}
body {
    font-family: "UTMAvo", sans-serif;
}
