/*
    === RESPONSIVE WEB DESIGN ===
*/
@media only screen and (max-width: 760px) {
    .container {
        width: 90%;
        height: auto;
    }

    h2 {
        display: none;
    }

    .hm-col-group {
        flex-direction: column;
    }

    .hm-title {
        position: unset;
    }

    .hm-title img {
        position: unset;
    }
}
