<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goodjob  - Your job,Our mission</title>
    <link rel="shortcut icon" type="images/png" href="images/logo.png"/>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/9d1259de98.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                    <div class="logo">
                            <p class="title">Good <span>Jobs</span></p>
                            <p class= "slogan">Your jobs, our mission</p>
                        </div>
                        <div>
                            <div class="login">
                                <span class="login-icon"><i class="fas fa-user"></i></span><span class="login-link"><a href="/dang-nhap">Đăng nhập</a></span>
                            </div>
                        </div>
                    </header>
            <main>
                <div class="main-form">
                    <ul>
                        <li class="tap-active">Đăng nhập</li>
                        <li><a href="/dang-ki">Đăng kí</a></li>
                    </ul>
                    <form action="#" class="login-form">
                        <h3 class="login-title">Đăng nhập vào tài khoản của bạn</h3>
                        <input type="text" placeholder="Your phone number" required>
                        <input type="password" placeholder="Your password" required>
                        <p>Bằng cách nhấp vào nút đăng nhập là bạn đã đồng ý với <a href="#">Chính sách quyền riêng tư</a> và <a href="#">Điều khoản sử dụng</a> của chúng tôi</p>
                        <button>Đăng nhập</button>
                        <p>Quên mật khẩu</p>
                    </form>
                </div>
            </main>
            </div>
</body>
</html>
