<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
        header {
            background: #ff9900;
        }

        .header-content {
            height: 100px;
            justify-content: center;
            align-content: center;
            text-align: center;
            color: #fff;
            font-size: 40px;
        }

        .header-content a {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-content">
                <div class="logo">
                    <a href="/">Good Jobs</a>
                </div>
            </div>
        </header>
        <main>
            <h1>404 - NOT FOUND</h1>
        </main>
        <% include ../partials/footer %>
    </div>
</body>

</html>
