<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
        <main>
            <a href="/users/login">
                Hiển thị công việc
            </a>
        </main>
    </div>
    <% include ../partials/footer %>
</body>

</html>
