<% include ../partials/header %>
<main>
    <% if(typeof user !== "undefined") { %>
        Hi,
         <%= user %>, bạn tìm thấy công việc chưa?
     <% } else { %>
         <a href="/users/login">
         Hiển thị công việc
         </a>
     <% }%>
</main>
<% include ../partials/footer %>
