<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goodjobs</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/responsive.css">
    <style>
        header {
            border-bottom: none;
            box-shadow: none;
        }
        .header-content {
            height: 208px;
            justify-content: center;
            align-content: center;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <a href="/"><img src="images/logo-login.png" alt="Good-Jobs"></a>
            </div>
        </div>
    </header>

    <main>
        <div id="login-modal" class="modal">
            <form id="login_form" enctype="multipart/form-data" action-type="login" action="/login" method="POST"
                class="modal-content" onsubmit="checkLogErr()">
                <ul>
                    <li>Đăng nhập</li>
                    <li onclick="regModal();">Đăng ký</li>
                </ul>
                <h2>Đăng nhập tài khoản của bạn</h2>
                <!-- <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
                <div>
                    <%= error.msg %>
                </div>
                <% }); %> <% } %> -->
                <div class="err_text"></div>
                <input type="text" id="email" name="email" placeholder="Email" autofocus />
                <input type="password" id="password" name="password" placeholder="Mật khẩu" />
                <p class="agree">Bằng cách nhấn vào nút Đăng Nhập là bạn đã đồng ý với <a href="#">các điều khoản</a>
                    của chúng tôi</p>
                <div class="press">
                    <button class="btn btn-primary btn-normal" type="submit">Đăng nhập</button>
                    <a href="/viec-tim-nguoi" class="btn btn-normal">Hủy</a>
                </div>
                <p class="forget">
                    <a href="#">Quên mật khẩu của bạn</a>
                </p>
                <br>
                <p class="forget">
                    <a href="/register">Bạn chưa có tài khoản?</a>
                </p>
            </form>
        </div>
    </main>
</body>
</html>
