<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
        header {
            background: #ff9900;
        }

        .header-content {
            height: 100px;
            justify-content: center;
            align-content: center;
            text-align: center;
            color: #fff;
            font-size: 40px;
        }

        .header-content a {
            color: #fff;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <a href="/">Good Jobs</a>
            </div>
        </div>
    </header>
    <main>
        <div id="login-modal" class="modal">
            <form id="login_form" action="/users/login" method="POST" class="modal-content">
                <ul>
                    <li>Đăng nhập</li>
                    <li><a href="/users/register">Đăng ký</a></li>
                </ul>
                <h2>Đăng nhập tài khoản của bạn</h2>
                <% include ../partials/messages %>
                <input type="email" id="email" name="email" placeholder="Nhập email" autofocus
                    value="<%= typeof email != 'undefined' ? email : '' %>" />
                <input type="password" id="password" name="password" placeholder="Nhập mật khẩu"
                    value="<%= typeof password != 'undefined' ? password : '' %>" />
                <p class="agree">Bằng cách nhấn vào nút Đăng Nhập là bạn đã đồng ý với <a href="#">các điều khoản</a>
                    của chúng tôi</p>
                <div class="press">
                    <button id="submit" class="btn btn-primary btn-normal" type="submit">Đăng nhập</button>
                    <a href="/viec-tim-nguoi" class="btn btn-normal">Hủy</a>
                </div>
                <p class="forget">
                    <a href="#">Quên mật khẩu của bạn</a>
                </p>
            </form>
        </div>
    </main>
    <script src="../js/userlgreg.js"></script>
</body>

</html>
