<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header class="container">
        <div class="row">
            <div class="col-6 logo">
                <img src="../images/logo.png" alt="logo">
            </div>
            <div class="col-6 close-icon">
                <a href="/"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="title">
            <h1>Đăng nhập vào GOOD JOBS</h1>
        </div>
        <div class="row">
            <div class="col-6 left-side">
                <form action="/page/login" method="POST" class="normal-form">
                    <!-- Test log error and success -->
                    <div class="sign-button">
                        <% include ../partials/messages %>
                    </div>
                    <!-- End -->
                    <div class="sign-input">
                        <label for="email" class="input-style">
                            <input id="email" name="email" type="email" placeholder="&nbsp;"
                                value="<%= typeof email != 'undefined' ? email : '' %>" required autofocus>
                            <span class="label">email</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="sign-input">
                        <label for="password" class="input-style">
                            <input id="password" name="password" type="password" placeholder="&nbsp;"
                                value="<%= typeof password != 'undefined' ? password : '' %>" required>
                            <span class="label">mật khẩu</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="forgot-link">
                        <a href="#forgotpassword">quên mật khẩu ?</a>
                    </div>
                    <div class="sign-button">
                        <button id="sub_login" type="submit">đăng nhập</button>
                    </div>
                    <div class="signup-link">
                        <span>
                            <p><a href="/page/register">Đăng ký tài khoản</a> và tham gia với chúng tôi</p>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-6 right-side">
                <img src="../images/right-side.png" alt="Right side image">
            </div>
        </div>
    </section>
</body>

</html>
