<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <span class="header-line"></span>
    <section class="container">
        <h1 style="text-align: center; font-size: 30px;">
            <span style="color: royalblue;">RESET PASSWORD</span>
        </h1>
    </section>
</body>

</html>
