<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goodjob - Your job,Our mission</title>
    <link rel="shortcut icon" type="images/png" href="images/logo.png" />
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <script src="https://kit.fontawesome.com/9d1259de98.js"></script>
</head>

<body>
    <div class="container">
        <header>
                <div class="header-content">
                        <div class="logo">
                            <a href="/"><img src="/assets/images/lo.png" alt=""></a>
                        </div>
                        <div class="header-menu">
                            <ul class="top-menu">
                                <li><a href="">Việc Làm</a></li>
                                <li><a href="">Công ty</a></li>
                                <li><a href="">Blog</a></li>
                            </ul>
                        </div>
                        <div class="category-btn">
                            <a href="#"><button>Việc tìm người</button></a>
                        </div>
                        <div class="login">
                            <span class="login-icon">
                                <i class="fas fa-user-circle"></i>
                            </span>
                            <span class="login-link">
                        <a href="#">
                            <%= lastName %>, <%=firstName %>
                        </a>
                        <a class="logout" href="/signin">Log out</a>
                    </span>

                </div>
        </header>
        <main>
            <div>Chào bạn <strong><%= lastName%></strong> , có phải bạn đang
            <% if(category === 1) { %>
                tìm kiếm 1 công việc ?
            <% } else  {%>
                tìm ứng viên phù hợp với công ty bạn ?
            <% } %>
            </div>
         </main>

    </div>
</body>

</html>
