<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goodjob - Your job,Our mission</title>
    <link rel="shortcut icon" type="images/png" href="images/logo.png" />
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <script src="https://kit.fontawesome.com/9d1259de98.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-content">
                <div class="logo">
                    <p class="title">Good <span>Jobs</span></p>
                    <p class="slogan">Your jobs, our mission</p>
                </div>
                <div class="login">
                    <span class="login-icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="login-link">
                        <a href="#">
                            <%= lastName %>, <%=firstName %>
                        </a>
                    </span>
                </div>
        </header>
        <main>
            <div>Chào bạn <%=lastName%> đến với GoodJob</div> 
         </main>
     
    </div>
</body>

</html>
