    <footer>
        <div class="footer-content">
                Made by Good Jobs Team
        </div>
    </footer>
    </div>
    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>

</html>
