<!DOCTYPE html>
<html lang="en">

<head> <% include ../partials/head %> </head>

<body> <% include ../partials/header %> <span class="header-line"></span>
    <section class="container">
        <div class="row profile-screen">
            <div class="col-3 left-side">
                <div class="left-content">
                    <article class="profile-banner">
                        <img src="../images/avatar.png"
                             alt="avatar">
                        <h1><%= users.display_name %></h1>
                        <h3>QA/QC/Tester</h3>
                    </article>
                    <article class="profile-bio">
                        <span class="profile-title">
                            <h3>Tóm lượt</h3>
                        </span>
                        <span class="profile-content">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                        </span>
                    </article>
                    <article class="profile-link">
                        <a href="#">
                            <i class="fas fa-edit"></i> Chỉnh sửa </a>
                    </article>
                </div>
            </div>
            <div class="col-9 right-side">
                <div class="row">
                    <div class="col-7 right-content-left">
                        <article class="profile-information">
                            <span class="profile-title">
                                <h3>Mục tiêu công việc</h3>
                                <a href="#">
                                    <i class="fas fa-edit"></i> Chỉnh sửa </a>
                            </span>
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>Hình thức công việc:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>Toàn thời gian</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>Ngành nghề:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>IT/Phần mềm</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>Mức lương mong muốn:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>14,000,000 - 18,000,000 VNĐ</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="profile-information">
                            <span class="profile-title">
                                <h3>Kinh nghiệm làm việc</h3>
                                <a href="#">
                                    <i class="fas fa-plus-circle"></i> Thêm </a>
                            </span>
                            <div class="profile-content">
                                <article class="col-12 experience">
                                    <p class="profile-sub-title">Công ty TNHH MTV Gì Gì Đó</p>
                                    <p class="profile-sub-content">07/2018 - Hiện tại</p>
                                    <p class="profile-sub-content">Chức danh</p>
                                    <p class="profile-sub-content"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. </p>
                                    <span class="profile-link">
                                        <a href="#">
                                            <i class="fas fa-edit"></i> Chỉnh sửa </a>
                                        <a href="#">
                                            <i class="fas fa-minus-circle"></i> Xóa </a>
                                    </span>
                                </article>
                                <article class="col-12 experience">
                                    <p class="profile-sub-title">Công ty TNHH MTV Gì Gì Đó</p>
                                    <p class="profile-sub-content">07/2017 - 07/2018</p>
                                    <p class="profile-sub-content">Chức danh</p>
                                    <p class="profile-sub-content"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. </p>
                                    <span class="profile-link">
                                        <a href="#">
                                            <i class="fas fa-edit"></i> Chỉnh sửa </a>
                                        <a href="#">
                                            <i class="fas fa-minus-circle"></i> Xóa </a>
                                    </span>
                                </article>
                                <article class="col-12 experience">
                                    <p class="profile-sub-title">Công ty TNHH MTV Gì Gì Đó</p>
                                    <p class="profile-sub-content">07/2016 - 07/2016</p>
                                    <p class="profile-sub-content">Chức danh</p>
                                    <p class="profile-sub-content"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. </p>
                                    <span class="profile-link">
                                        <a href="#">
                                            <i class="fas fa-edit"></i> Chỉnh sửa </a>
                                        <a href="#">
                                            <i class="fas fa-minus-circle"></i> Xóa </a>
                                    </span>
                                </article>
                            </div>
                        </article>
                    </div>
                    <div class="col-5 right-content-right">
                        <article class="profile-information">
                            <span class="profile-title">
                                <h3>Thông tin cá nhân</h3>
                                <a href="#">
                                    <i class="fas fa-edit"></i> Chỉnh sửa </a>
                            </span>
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>Họ tên:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>Lê Minh Trung</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>Ngày sinh:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>11/11/1111</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>số điện thoại:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>+84 (0) 93 7475 448</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>email:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>trungle@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>thành phố:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>Hồ Chí Minh</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>quận:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>Quận 8</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>phường:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>Phường 2</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>địa chỉ:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>155 Âu Dương Lân</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 profile-sub-title">
                                        <p>Giới tính:</p>
                                    </div>
                                    <div class="col-8 profile-sub-content">
                                        <p>Nam</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="profile-information">
                            <span class="profile-title">
                                <h3>Học vấn</h3>
                                <a href="#">
                                    <i class="fas fa-plus-circle"></i> Thêm </a>
                            </span>
                            <div class="profile-content">
                                <article class="col-12 experience">
                                    <p class="profile-sub-title">Trường đại học Tôn Đức Thắng</p>
                                    <p class="profile-sub-content">07/2018 - Hiện tại</p>
                                    <p class="profile-sub-content">Lập trình, phân tích và thiết kế hệ thống</p>
                                    <span class="profile-link">
                                        <a href="#">
                                            <i class="fas fa-edit"></i> Chỉnh sửa </a>
                                        <a href="#">
                                            <i class="fas fa-minus-circle"></i> Xóa </a>
                                    </span>
                                </article>
                                <article class="col-12 experience">
                                    <p class="profile-sub-title">Trường cao đẳng thực hành FPT Politechnich</p>
                                    <p class="profile-sub-content">07/2017 - 07/2018</p>
                                    <p class="profile-sub-content">Lập trình hệ thống di động android</p>
                                    <span class="profile-link">
                                        <a href="#">
                                            <i class="fas fa-edit"></i> Chỉnh sửa </a>
                                        <a href="#">
                                            <i class="fas fa-minus-circle"></i> Xóa </a>
                                    </span>
                                </article>
                            </div>
                        </article>
                        <article class="profile-information">
                            <span class="profile-title">
                                <h3>Kỹ năng</h3>
                                <a href="#">
                                    <i class="fas fa-plus-circle"></i> Thêm </a>
                            </span>
                            <div class="profile-content">
                                <article class="col-12 experience">
                                    <p class="profile-sub-title">Lập trình C#</p>
                                    <p class="profile-sub-content">3/5</p>
                                    <p class="profile-sub-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.</p>
                                    <span class="profile-link">
                                        <a href="#">
                                            <i class="fas fa-edit"></i> Chỉnh sửa </a>
                                        <a href="#">
                                            <i class="fas fa-minus-circle"></i> Xóa </a>
                                    </span>
                                </article>
                                <article class="col-12 experience">
                                    <p class="profile-sub-title">Lập trình .Net</p>
                                    <p class="profile-sub-content">4/5</p>
                                    <p class="profile-sub-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.</p>
                                    <span class="profile-link">
                                        <a href="#">
                                            <i class="fas fa-edit"></i> Chỉnh sửa </a>
                                        <a href="#">
                                            <i class="fas fa-minus-circle"></i> Xóa </a>
                                    </span>
                                </article>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
